<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCWT0SJ-Vq_H-vbYirJnY1FJz7xeCj7XuA</string>
	<key>GCM_SENDER_ID</key>
	<string>421967634346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ekagra.incidentguard.IncidentGuard</string>
	<key>PROJECT_ID</key>
	<string>incidentguard-6e55f</string>
	<key>STORAGE_BUCKET</key>
	<string>incidentguard-6e55f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421967634346:ios:ee81c7154a1f34a99f95d3</string>
</dict>
</plist>